body {
    padding-top: 5%;
    margin: auto;
    width: 400px;
    display: grid;
    background-color: rgba(88, 219, 219, 0.493);
    
}

.content{
    background-color: black;
}

header{
   color: blue;
   font-weight: bold;
   height: 50px;
}

main{
    display: grid;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    height: 50px;
}

#display {
    margin: auto;
    width: 380px;
    height: 100px;
    border: black;
}

#currentInput{
    background-color: rgba(255, 255, 255, 0.85);
    height: 45px;
    
}

#calculatedTotal{
    background-color: white;
    height: 45px;
    
}

#buttons{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    height: 400px;
    
}

button{
    border: 0px;
    font-size: 20px;
}

.number{
    background-color: rgb(255, 255, 255, 0.85);
}

.operator{
    background-color: rgba(57, 194, 235, 0.5);
}

.input{
    background-color: rgba(255, 0, 0, 0.637)
}

#enter{
    background-color: rgba(0, 128, 0, 0.616);
    
}

a{
    color: black;
}