body {
    padding-top: 5%;
    margin: auto;
    width: 400px;
    display: grid;
    background-color: rgba(88, 219, 219, 0.500);
    font-family: 'Courier New', Courier, monospace;
}

.content{
    background-color: black;
}

header{
   color: blue;
   font-weight: bold;
   height: 50px;
}

main{
    display: grid;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

#display {
    margin: auto;
    width: 380px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    vertical-align: middle;
    line-height: 45px;
}

#currentInput, #calculatedTotal{
    padding-right: 10px;
    margin-top: 3px;
}

#currentInput{
    background-color: white;
}

#calculatedTotal{
    
    background-color: rgba(255, 255, 255, 0.85);
}

#buttons{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    height: 400px;
    
}

button{
    border: 0px;
    font-size: 20px;
}

.number{
    background-color: rgb(255, 255, 255, 0.85);
}

.operator{
    background-color: rgba(57, 194, 235, 0.5);
}

.input{
    background-color: rgba(255, 0, 0, 0.637)
}

.enter{
    background-color: rgba(5, 163, 5, 0.7);
    
}

.faded{
    opacity: 0.80;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255, 0.55);
    font-size: 16px;
}

.buttonHover, .buttonClick{
    background: yellow;
    color: green;
    font-weight: bold;
}
.buttonHover{
    transform: scale(1.05);
    opacity: 0.75;
}

.buttonClick{
    transform: scale(0.9);
    transition: all .07s ease;
    opacity: 1;
}